*{
    font-family: 'Lato';
    font-size: 15px;    
    border-radius: 0 !important;
}

h1 {
    font-weight: 300;
    margin-bottom: 20px;
}

h2{
    font-weight: 300;
    color:#838383;
}

p{
    font-size: 20px;
    margin-top: 10%;
    font-weight: 300;
}


.navbar{
    margin-bottom: 0;
    background-color: rgb(0, 0, 0);
    
}

/*---------Home------------*/
.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(img/Pulley_close_up_2.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 4%;
   
    height: 85vh;
}

.home-text{
    position:absolute;
    
    width: 675px;
    top:50%;
    left: 50%;
    color:#cbcbcb;
    transform: translate(-50%,-50%);
    
}

.btn-box{
    margin-top: 40px;
    margin-left:177px;
}

.btn:link,
.btn:visited {
    width:30%;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    color: #888888;
    border: 2px solid;
}

.btn:hover,
.btn:active {
    color:#d0cdcd;
    
}

/*-------About-------------*/

.about{
    background-color: black;
      
}

.about-info{
   padding: 5%;
   
}
.about-section{
    background-image: url(img/Black_background.jpg);
    background-attachment: fixed;
    background-size:cover;
}

.img-me{
    margin-top: 10%;
    width: 100%;
    float:right;
   
}

.about-text{
    color:#cbcbcb;
    font-size: 20px;
   
}

.blockquote{
    font-family: serif;
    font-size: 130%;
    font-style: italic;
}

.about-def{
    font-family: serif;
}

.about-me{
    color:#cbcbcb;
    font-size: 120%;
    font-weight: 300;
    margin-top: 6%;
    
}

/*------------Projects---*/

.carousel-caption{
    top: 50%;
    
}

.btn-proj:link,
.btn-proj:visited{
    width:30%;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    color:#c9c9c9 ;
    border: 2px solid;
}

.btn-proj:hover,
.btn-proj:active{
    width:30%;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    color:#9d9d9d ;
    border: 2px solid;
    text-decoration: none;
}

.carousel-indicators{
    padding-bottom: 8%;
    
}

/*-------Contact-------*/

.contact-section{
    padding: 5%;
    background-color: black;
}

.contact-info{
    color:#c9c9c9;
    font-weight: 300;
    
}

.email:link,
.email:visited{
     color:#c9c9c9; 
    font-size:20px;
    border-bottom: 1px solid;
   
    
}
.email:hover,
.email:active {
    color:#898989; 
    font-size:20px;
    text-decoration: none;
    
}

.box-container{
    margin-top: 5%;
    
    
}

.form-group{
    font-family: 'Lato';
    font-weight: 400;
}

.btn-default:link,
.btn{
    background-color: black;
    color:#c9c9c9;
    font-family: 'Lato';
}
.btn-default:hover{
    background-color: black;
}

.label{
    font-family: 'Lato';
    font-weight: 300;
    float:left; 
    padding: 0;
    font-size: 20px;
    color:#c9c9c9;
}

/*-------Map-----------*/

.map{ 

}
.bg{
    width:100%;
    
}

/*------Legal---------*/






/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .05em solid #c9c9c9; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end ;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #cecece }
}









